#send{
	height: 120px;
	width: 700px;
	margin-left: 200px;
	background: rgb(51,175,234);
}
#control{
	position: relative;
	left:20px;
	margin-left: 5px;
	top: 18px;
}
select,textarea{
	border: 1px solid gray;
}
#msg{
	height: 52px;
	width: 410px;
	margin-left: 5px;
	margin-top: 5px;
}
#show_msg{
	width:698px;
	height: 326px;
	overflow: auto;
	margin-left: 200px;
	margin-top:10px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid gray;
}
h2{
	margin-left: 400px;
}
